@import "~bootstrap"

html *
    outline: none
    padding: 0
    margin: 0
    box-sizing: border-box

a
    text-decoration: none
    display: block

a:hover
    text-decoration: none

ul li
    list-style-type: none

img, svg
    vertical-align: middle
    max-width: 100%

input, textarea
    -webkit-border-radius: 0
    -webkit-appearance: none

button
    outline: 0!important
//font-family: none
//font-size: 0
//line-height: 0

.h1, .h2, .h3, .h4, .h5, .h6, p
    margin: 0


@font-face
    font-family: 'Tobi-Black'
    src: url("/assets/Tobi-Black.woff") format("woff"), url("/assets/Tobi-Black.woff2") format("woff2")
@font-face
    font-family: 'Tobi-Regular'
    src: url("/assets/Tobi.woff") format("woff"), url("/assets/Tobi.woff2") format("woff2")
@font-face
    font-family: 'Tobi-Light'
    src: url("/assets/Tobi-Light.woff") format("woff"), url("/assets/Tobi-Light.woff2") format("woff2")
@font-face
    font-family: 'RobotoCondensed-Light'
    src: url("/assets/RobotoCondensed-Light.ttf") format("truetype"), url("/assets/RobotoCondensed-Light.ttf") format("truetype")
@font-face
    font-family: 'RobotoCondensed-Regular'
    src: url("/assets/RobotoCondensed-Regular.ttf") format("truetype"), url("/assets/RobotoCondensed-Regular.ttf") format("truetype")
@font-face
    font-family: 'RobotoCondensed-Bold'
    src: url("/assets/RobotoCondensed-Bold.ttf") format("truetype"), url("/assets/RobotoCondensed-Bold.ttf") format("truetype")
@font-face
    font-family: 'NotoSans-Bold'
    src: url("/assets/NotoSans-Bold.ttf") format("truetype"), url("/assets/NotoSans-Bold.ttf") format("truetype")
@font-face
    font-family: 'NotoSans-Regular'
    src: url("/assets/NotoSans-Regular.ttf") format("truetype"), url("/assets/NotoSans-Regular.ttf") format("truetype")

.h1
    font-family: 'Tobi-Regular', sans-serif
    text-shadow: 0 4.61053px 4.61053px rgba(0, 0, 0, 0.25)
    font-size: 72px
    line-height: 84px
    color: white
    text-transform: uppercase
    -webkit-text-stroke: 2px #852E17
    @media screen and (max-width: 900px)
        font-size: 24px
        line-height: 28px
        -webkit-text-stroke: 1px #852E17

.h2
    font-family: 'Tobi-Regular', sans-serif
    text-shadow: 0 4.61053px 4.61053px rgba(0, 0, 0, 0.25)
    -webkit-text-stroke: 2px #852E17
    font-size: 36px
    line-height: 42px
    color: white
    @media screen and (max-width: 900px)
        font-size: 12px
        line-height: 14px
        -webkit-text-stroke: .7px #852E17

.h3
    font-family: 'Tobi-Regular', sans-serif
    font-size: 26px
    line-height: 30px
    color: #FFCB3E
    -webkit-text-stroke: 1px #834E3C
    text-shadow: 0 2.2905px 2.2905px rgba(0, 0, 0, 0.4)


.p1
    font-family: 'NotoSans-Regular', sans-serif
    font-size: 16px
    line-height: 22px
    color: #FFD66D

.p2
    font-family: 'NotoSans-Regular', sans-serif
    font-size: 12px
    line-height: 16px
    color: #FFE5B5

.p-open
    font-family: 'Tobi-Regular', sans-serif
    font-size: 120px
    line-height: 73px
    color: white
    -webkit-text-stroke: 3px  #CB9017
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.4)
    white-space: pre-wrap
    letter-spacing: -3px
    @media screen and (max-width: 700px)
        font-size: 67px
        line-height: 44px

.input-valid
    position: relative
    width: 285px
    margin: 0 auto 12px
    @media screen and (max-width: 700px)
        width: 218px
    .entryfield
        padding: 6px 8px 6px 16px
        border: 2px solid #4D2C07
        box-sizing: border-box
        border-radius: 8px
        background: transparent
        width: 100%
        transition: .5s
        @media screen and (max-width: 700px)
            width: 218px
    .entryfield:-webkit-autofill
        -webkit-background-color: transparent!important
        -webkit-box-shadow: 0 0 0 0 transparent inset
        color: #915D24!important
        -webkit-text-fill-color: #915D24!important
    .entryfield, .entryfield::placeholder
        font-family: 'RobotoCondensed-Bold', sans-serif
        font-size: 14px
        line-height: 24px
        color: #915D24
        letter-spacing: 0.01em
    .entryfield::placeholder
        color: #915D24
    .valid
        border: 2px solid #4B941D
    .invalid, .invalid-no-caption .invalid-response
        border: 2px solid #D32829
    .entryfield + p
        position: relative
        top: 0
        margin-top: 0
        max-height: 0
    .invalid + p
        margin-top: 5px
        max-height: 50px
    .invalid-response + p + p
        position: relative
        margin-top: 5px
        max-height: 50px
        opacity: 1
        visibility: visible
    p
        font-family: 'NotoSans-Regular', sans-serif
        font-size: 12px
        line-height: 16px
        letter-spacing: 0.02em
        position: absolute
        color: #D32829
        top: 55px
        left: 0
        opacity: 0
        visibility: hidden
        transition: .5s
        width: 100%
    .invalid + p
        opacity: 1
        visibility: visible
    .password-button
        position: absolute
        right: 18px
        top: 24px
        transform: translateY(-50%)
        transition: .5s
        opacity: 0
        visibility: hidden
        cursor: pointer
    .password-button.view
        opacity: 1
        visibility: visible

.already-account
    margin: 13px auto 0
    width: fit-content
.already-account, .already-account > span
    font-family: 'RobotoCondensed-Regular', sans-serif
    font-size: 16px
    line-height: 19px
    color: #FFE5B5
    white-space: pre-wrap
    span
        text-decoration: underline
        cursor: pointer

.box-check-ico
    margin: 0 auto 15px
    width: 285px
    @media screen and (max-width: 700px)
        width: 218px
    p, a
        font-family: 'NotoSans-Regular', sans-serif
        font-size: 14px
        line-height: 24px
    p
        color: #FFFAD6
    a
        color: #FFD66D
        text-decoration: underline
        display: inline
.check-ico
    margin-top: 4px
    position: relative
    cursor: pointer
    input
        position: absolute
        z-index: -1
        opacity: 0
        -webkit-appearance: auto
        left: 50%
    span::before
        content: ''
        display: inline-block
        width: 16px
        height: 16px
        margin-right: 16px
        border: 2px solid #FFD66D
        border-radius: 2px
        flex: 0 0 16px
.check-ico>input:checked+span::before
    background-image: url("/assets/checkicon.svg")
    background-repeat: no-repeat
    background-position: 50%
    background-size: contain
    background-color: transparent
    border: none

.hero-button
    z-index: 5
    cursor: pointer
    transition: .5s
    position: relative
    background: transparent
    border: none
    p
        padding: 27px 45px
        position: relative
        z-index: 5
    img
        width: 100%
        height: 100%
        position: absolute
        top: 0
        left: 0
        filter: drop-shadow(0px 0px 8px rgba(251, 198, 53, .2))
        transition: .5s
.hero-button:hover
    img
        filter: drop-shadow(0px 0px 8px rgba(251, 198, 53, 1))


.hero-button:disabled
    opacity: .8
    cursor: auto
    pointer-events: none
    img
        filter: drop-shadow(0px 0px 8px rgba(251, 198, 53, .2))

#main
    min-height: 100vh
    background: url("/assets/back.jpg")
    background-position: 21%
    background-repeat: no-repeat
    background-size: cover
    padding: 70px 180px 90px 305px
    display: flex
    justify-content: space-evenly
    align-items: center
    position: relative
    overflow: hidden
    @media screen and (max-width: 1500px)
        padding: 50px 100px 50px 150px
    @media screen and (max-width: 992px)
        padding: 70px 80px
        flex-direction: column-reverse
        align-items: flex-end
    @media screen and (max-width: 900px)
        align-items: center
    @media screen and (max-width: 700px)
        padding: 20px
        justify-content: flex-end
    #character
        display: none
        position: relative
        width: 550px
        height: 755px
        z-index: 15
        min-width: 400px
        @media screen and (max-width: 992px)
            top: -280px
            left: -330px
            width: 360px
            height: auto
            min-width: auto
        @media screen and (max-width: 900px)
            width: 210px
            top: -110px
            left: -160px
        @media screen and (max-width: 700px)
            left: 0
            top: -60px
        .light-character
            position: absolute
            bottom: 40px
            left: 90px
            min-height: 90vh
            height: 77vh
            background: rgba(255, 255, 255, 0.5)
            filter: blur(100px)
            width: 50%
            @media screen and (max-width: 900px)
                display: none
        .txt-character
            position: absolute
            top: 125px
            left: -70px
            z-index: 1
            @media screen and (max-width: 992px)
                left: -110px
            @media screen and (max-width: 900px)
                left: -10px
                top: 105px
    #container-form
        margin-top: 156px
        display: none
        position: relative
        z-index: 10
        border-radius: 18px
        box-shadow: 0 0 36.648px 2.2905px rgba(251, 215, 121, 0.3)
        border: 2px solid #D32001
        background: rgba(17, 17, 17, 0.8)
        padding: 0 60px 40px
        text-align: center
        @media screen and (max-width: 550px)
            width: 100%
            padding: 0 20px 40px
            margin-top: 125px
        .logo
            margin: -156px auto 12px
            width: 320px
            height: 287px
            @media screen and (max-width: 700px)
                width: 250px
                height: 230px
                margin: -125px auto 12px
            img
                width: 100%
                height: 100%
                object-fit: contain
                filter: drop-shadow(0 0 34px rgba(251, 215, 121, 0.4))
        .p1
            margin-bottom: 20px
        .box-login
            display: flex
            justify-content: space-evenly
            align-items: center
            background: url("/assets/back_login.png")
            width: 180px
            height: 60px
            margin: 0 auto
            background-repeat: no-repeat
            background-size: contain
            background-position: center
            margin-bottom: 20px
            a
                transition: .5s
                opacity: .35
            a:hover
                opacity: 1
        .p2
            margin-bottom: 16px

#dragon
    position: absolute
    width: 100%
    height: 100%
    top: 0
    left: 0
    //min-width: 160vh
    //min-width: 1600px
    //min-height: 1020px
    //@media screen and (max-width: 1500px)
    //    height: auto
    //@media screen and (max-width: 992px)
    //    margin-left: -100px
    //@media screen and (max-width: 550px)
    //    min-width: 230vh
    svg
        display: none
        //image
        //    height: 780px
    img
        width: 100%
        height: 100%
        object-fit: contain
        //padding-left: 160px
        //@media screen and (max-width: 1500px)
        //    padding-left: 100px
        //@media screen and (max-width: 992px)
        //    padding-left: 0
    video
        //display: none
        height: 100%
        width: 100%
        object-fit: cover
        object-position: left
        @media screen and (max-width: 992px)
            object-position: -285px
#light-dragon
    position: absolute
    z-index: 5
    background: rgba(37, 37, 37, 0.36)
    //backdrop-filter: blur(10px)
    width: 100%
    height: 100%
    top: 0
    left: 0

#container-chest
    //display: none
    position: absolute
    width: 100%
    min-height: 100vh
    top: 0
    left: 0
    z-index: 6
    display: flex
    align-items: center
    justify-content: center
    #box-chest
        position: relative
        //width: 100%
        //min-height: 100vh
        top: 0
        left: 0
        animation: chest .8s linear infinite alternate
        @keyframes chest
            0%
                -webkit-transform: translate(-5px, 5px) rotate(-1deg)
                transform: translate(-5px, 5px) rotate(-1deg)
            25%
                -webkit-transform: translate(5px, 5px) rotate(1deg)
                transform: translate(5px, 5px) rotate(1deg)
            50%
                -webkit-transform: translate(-5px, -5px) rotate(-1deg)
                transform: translate(-5px, -5px) rotate(-1deg)
            75%
                -webkit-transform: translate(0px, 0px) rotate(1deg)
                transform: translate(0px, 0px) rotate(1deg)
            100%
                -webkit-transform: translate(5px, -5px) rotate(-1deg)
                transform: translate(5px, -5px) rotate(-1deg)
        .box-text
            position: absolute
            z-index: 1
            top: -260px
            left: -280px
            @media screen and (max-width: 700px)
                top: -130px
                left: -150px
            p:last-child
                margin-left: -10px
                @media screen and (max-width: 700px)
                    margin-left: -6px
        #chest
            position: absolute
            width: 660px
            height: auto
            top: 50%
            left: 50%
            //margin-top: -270px
            //margin-left: -430px
            transform: translate(-50%, -50%)
            cursor: pointer
            img
                position: absolute
                top: 50%
                left: 50%
                transform: translate(-50%, -50%)
                cursor: pointer
                //width: 100%
                //height: 100%
                max-width: none
                transition: .5s
                opacity: 1
                filter: drop-shadow(0px 0px 80px rgba(251, 198, 53, 1))
                margin-top: -37px
                z-index: 1
                @media screen and (max-width: 700px)
                    width: 587px
                    height: 336px
                    margin-top: -17px
            svg
                filter: drop-shadow(0px 0px 80px rgba(251, 198, 53, 1))
            @media screen and (max-width: 700px)
                width: 300px
        #chest-glow
            position: absolute
            top: 50%
            left: 50%
            transform: translate(-50%, -50%)
            cursor: pointer
        #chest-stars
            display: none
            margin-top: -40px
            position: absolute
            width: 970px
            height: auto
            top: 50%
            left: 50%
            transform: translate(-50%, -50%)
            cursor: pointer
            @media screen and (max-width: 700px)
                width: 360px
                margin-top: -20px
                height: auto


#login
    display: none
    .forgot-password
        cursor: pointer
        margin: 0 auto 32px
        color: #BE9680
        width: 285px
        text-align: right
        @media screen and (max-width: 700px)
            width: 218px

#reset, #updatepassword
    display: none


.anim-character
    top: 0!important
    left: 0!important
    align-self: center!important
    @media screen and (max-width: 992px)
        width: 360px!important
    @media screen and (max-width: 700px)
        width: 300px!important
        top: 10vh


#container-txt
    display: none
    position: absolute
    width: 0
    height: 0
    top: 50%
    left: 50%
    z-index: 7
    .box-text
        position: relative
        //top: -190px
        //left: -160px
        top: -260px
        left: -280px
        @media screen and (max-width: 700px)
            //top: -90px
            //left: -80px
            top: -130px
            left: -150px
            p:last-child
                margin-left: -10px
                @media screen and (max-width: 700px)
                    margin-left: -6px



